.community-page {
    font-family: Arial, sans-serif;
    width: 80%;
  }
  
  .com-header {
    background-color: #000000;
    color: white;
    padding: 5px;
    margin: 0 0 20px 0;
    text-align: center;
    border-radius: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  section h2 {
    color: #2c3e50;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-bottom: 10px;
    }
  }
  

  .community-nav ul li:hover {
    background-color: #dbdfe288;
    padding: 3px;
    border-radius: 5px;
  }

  .community-nav ul li {
    padding: 3px;
    border-radius: 5px;
  }


  .com-nav-active{
    background-color: #dbdfe288;
    padding: 3px;
    border-radius: 5px;
  }