

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    color: #2c3e50;
}

#details {
    display: block;
    justify-content: space-between;
    align-items: center;

    ul li {
        list-style-type: square;
    }
}

.volunteer-donate-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 10px;
}

.volunteer-donate-btn:hover {
    background-color: #45a049;
}

.volunteer-donate-btn:active {
    background-color: #2c812f;
}
#details ul li span {
    font-weight: bold;
}