body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to left,rgba(18, 97, 85, 0.605), rgba(207, 26, 204, 0.605),rgba(0, 200, 255, 0.747),rgba(26, 224, 207, 0.751), rgba(92, 130, 155, 0.874));

}

.main-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgb(240 171 252);
    border-top: 2px solid rgb(240 171 252);
    position: relative;
    z-index: 1;
    width: 100%;

}

.header-text{
    font-weight: 600;
    font-size: 2.25rem; 
    color: var(--text-color);
    /* background-color: rgb(16 185 129); */
    position: relative;
    width: auto;
    display: flex;
}


.header-logo{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    /* border-bottom: 2px solid rgb(240 171 252);
    border-top: 2px solid rgb(240 171 252); */
}
.header-navbar{
    display: flex;
    position: relative;
    width: 100%;
    /* justify-content: space-around; */
    /* align-items: center; */
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(240 171 252);
    border-top: 2px solid rgb(240 171 252);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}


.main-header .nav-links{
    /* p-4 absolute top-0 right-0  */
    padding: 4px;
    display: inline;
    color: var(--text-color);;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    margin-left: 50px;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.main-header .nav-links li,a{
    
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}

.main-header .nav-links li:hover {
    background-color: rgb(89, 225, 152);
    color: black;
    border-radius: 1rem;
    padding-left: 5px;
    padding-right: 5px;

    a {
        color: black;
    }
    .header-login{
        color: black;
    }
}

/* mr-4 rounded-xl p-2 border border-emerald-900 hover:bg-red-300 font-medium  */

.header-login{
    margin-right: 5px;
    margin-left: 5px;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


a{
    text-decoration: none;
    color: var(--text-color);
}

@media screen and (max-width: 1200px){
    .header-text{
        width: 100%;
        font-size: 2.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        .breakline{
            display: none;
        }
    }

    .main-header{
        flex-direction: column;
    }
    .header-logo{
        width: 300px;
        height: 100px;
        
    }
    .header-navbar{
        display: block;

        
    }
    .main-header .nav-links{

        display: inline-block;
        padding-left: 10px;
        margin-left: 10px;
        
        ul{
            padding: 0;
            margin-right: 0;
        }
    }

    .main-header .nav-links.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }

    .main-header .nav-links li{
        text-align: center;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .main-header .nav-links li:hover{
        background-color: rgb(234, 155, 248);
        color: black;
    }
    .header-login{
        display:inline;
    }
    
}



.notification{
    width: 20px;
    height: 20px;
}

.notification-box{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    z-index: 1000;
}

.notification-box:hover{
    background-color: rgb(250, 230, 3);
    color: rgb(255, 0, 0);
    border: 1px solid red;
    transform: scale(1.2);
    .notification{
        color: red;
    }
}


.notification-modal{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(147, 181, 249);
    border: 1px solid black;
    z-index: 1000;
    display: none;
    color: black;
}

.notification-modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li{
        width: 80%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
}

.nav-active{
    background-color: rgb(240 171 252);
    color: black;
    border-radius: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    
    a {
        color: black;
    }
    .header-login{
        color: black;
    }
}

